---
import PostCard from '@/components/PostCard.astro'
import Search from '@/components/Search'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
---

<BaseLayout>
  <h2 class="text-semibold text-2xl">Группы</h2>
  {posts && <Search postsList={posts} searchTo={'posts'} client:load />}
  <main class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {posts && posts.map((post) => <PostCard data={post.data} slug={post.slug} />)}
  </main>
</BaseLayout>
