---

---

<aside class="flex items-center justify-between">
  <a
    href="/"
    class="font-medium px-2 py-1 rounded-lg bg-gray-50 ring-1 ring-gray-100 hover:bg-gray-100 transition-colors duration-75 ease-linear"
    >К сообществам</a
  >
  <button
    id="copy"
    class="relative font-medium px-2 py-1 rounded-lg bg-blue-50 ring-1 hover:bg-blue-100 ring-blue-100 transition-colors duration-75 ease-linea"
  >
    Поделиться
    <div
      id="banner"
      style="display: none;"
      class="absolute text-sm bottom-0 right-[105%] bg-black text-white px-2 py-1 rounded-xl text-semibold"
    >
      Скопировано!
    </div>
  </button>
</aside>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function () {
    // Находим кнопку по классу
    const shareButton = document.querySelector('#copy')
    const shareBanner = document.querySelector('#banner')

    // Добавляем обработчик клика
    shareButton.addEventListener('click', function (event) {
      // Предотвращаем стандартное поведение кнопки
      event.preventDefault()

      // Копируем URL в буфер обмена
      navigator.clipboard.writeText(window.location.href).then(function () {
        // Успешное копирование
        shareBanner.style.display = 'block'

        // Автоматически скрываем баннер через 3 секунды
        setTimeout(function () {
          shareBanner.style.display = 'none'
        }, 1200)
      })
    })
  })
</script>
