---
import Write from './icons/Write.astro'
---

<aside class="flex flex-col gap-3">
  <p class="text-red-400">Нашли ошибку?</p>
  <a
    class="text-green-700 ring-1 self-start flex gap-1 items-center ring-green-200 bg-green-100 rounded-md px-2 py-1"
    href="https://t.me/fb_steps_bot"><Write />Обратная связь</a
  >
</aside>
