---
import Logo from '@/components/icons/Logo.astro'
---

<a href="/">
  <div class="flex items-center gap-2">
    <div class="lg:hidden block"><Logo /></div>
    <span class="block font-bold leading-none">12 шагов - сообщества</span>
  </div>
</a>
