---
import AsideLeft from '@/components/AsideLeft.astro'
import AsideRight from '@/components/AsideRight.astro'
import MenuMobile from '@/components/MenuMobile.astro'
import SEOTags from '@/components/seo/SEOTags.astro'
type HeadTags = {
  title?: string
  description?: string
  noindex?: boolean
  og?: {
    title: string
    type: string
    description: string
    image: string
    alt: string
  }
}
type Props = HeadTags
const headTags = Astro.props
---

<!doctype html>
<html lang="ru">
  <SEOTags {...headTags} />
  <body>
    <div class="p-6 mx-auto lg:flex block">
      <MenuMobile />
      <AsideLeft />
      <div class="md:px-5 lg:px-12 w-full flex flex-col gap-5">
        <slot />
      </div>
      <AsideRight />
    </div>
  </body>
</html>
